
.black-theme {
  --display-background: #ddd;
  --active-color: black;
  --inactive-color: #bbb;
}

.red-theme {
  --display-background: black;
  --active-color: red;
  --inactive-color: #400;
}

.green-theme {
  --display-background: black;
  --active-color: green;
  --inactive-color: #030;
}

.blue-theme {
  --display-background: black;
  --active-color: blue;
  --inactive-color: #004;
}
