.device {
  border-radius: 5px;
  border: 1px #333 solid;
  background: linear-gradient(140deg, #262626 0%, #333333 50%, #0d0d0d 53%, black 65%);
  user-select: none;
  padding: 15px;
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;
}