.display-wrapper {
    background: #ddd;
    border-radius: 5px;
    height: auto;
    padding: 7px 12px;
    color: #111;
    font-family: Digital;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    cursor: default;
}

.display-total, .display-current {
    position: relative;
    z-index: 1;
}

.display-total::before, .display-current::before {
    position: absolute;
    color: #bbb;
    z-index: -1;
}

.display-total::before {
    content: '88:88';
}

.display-current {
    font-size: 40px;
}

.display-current::before {
    content: '88:88:88';
}

.indicators-total-wrapper {
    font-size: 27px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.inactive {
    color: #bbb;
}