.display-wrapper {
    background: #ddd;
    border-radius: 5px;
    height: auto;
    padding: 7px 12px;
    color: #111;
    font-family: Digital;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    cursor: default;
}

.display-total, .display-current {
    position: relative;
    z-index: 1;
}

.display-current {
    font-size: 40px;
}

.indicators-total-wrapper {
    font-size: 27px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.inactive {
    color: #bbb;
}

.time:hover {
    animation: flash  0.5s infinite ease-in-out;
}

@keyframes flash {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.digit {
    position: relative;
    z-index: 1;
}

.digit::before {
    content: '8';
    color: #bbb;
    position: absolute;
    z-index: -1;
}