body {
  margin: 0;
  background-image: url(https://pp.userapi.com/c845523/v845523713/cd5dc/01aQ6hG3Tlo.jpg);
  background-size: 1024px;
}
@media (min-width: 1024px), (min-height: 1024px) {
  body {
    background-size: 100vmax;
  }
}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  display: flex;
  flex-direction: column;
  width: 220px;
}
